PORT=8080

DB_HOST=localhost
DB_PORT=5432
DB_USER=seu_usuario
DB_PASSWORD=sua_senha
DB_NAME=translator_db

JWT_SECRET=gera-uma-chave-com-openssl-rand-base64-64

SUPER_USER_USERNAME=admin
SUPER_USER_EMAIL=teu-email@exemplo.com
SUPER_USER_PASSWORD=uma-senha-forte